<section class="w-[80%] mx-auto">
  <div class="w-full flex justify-center my-3 mx-auto relative">
    <select [(ngModel)]="selectedCatId" class="select select-accent absolute top-[-100px]">
      @for (cat of categories; track $index; let f = $first) {
        <option [selected]="f" [value]="cat.id">{{ cat.name }}</option>
      } @empty {
        <option>No categories</option>
      }
    </select>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 pb-5">
    @for (course of courses; track $index) {
      @if (course.catId == selectedCatId || selectedCatId == 0) {
        <div
          class="card bg-base-100 shadow-xl"
          [ngClass]="{ 'border-2 border-red-500': course.seats === 0 }"
        >
          <figure class="bg-slate-200 relative">
            <div
              class="absolute w-full h-full bg-red-500/40 backdrop-blur-xs text-gray-100 text-3xl font-bold text-center rounded flex justify-center items-center"
              [class.hidden]="course.seats !== 0"
            >
              Course Is Compelete
            </div>
            <img class="object-cover h-[200px]" [src]="course.image" alt="Shoes" />
          </figure>
          <div
            class="card-body"
            [ngClass]="{ 'text-red-500 bg-red-50 rounded-md': course.seats === 0 }"
            [ngClass]="{ 'bg-amber-100': course.seats > 0 && course.seats <= 2 }"
          >
            <h4 class="card-title text-inherit">{{ course.title }}</h4>
            <p
              class="text-gray-700 text-sm font-semibold"
              [ngClass]="{ 'text-red-500': course.seats === 0 }"
            >
              {{ course.instructor }}
            </p>
            <p class="text-gray-500 text-sm" [ngClass]="{ 'text-red-500': course.seats === 0 }">
              {{ course.price }} EGP
            </p>
            <div class="card-actions justify-between items-center">
              @if (course.seats === 0) {
                <div class="badge badge-error bg-red-500 text-white font-bold">Sold Out</div>
              } @else if (course.seats > 0 && course.seats <= 2) {
                <div class="badge badge-warning text-white font-bold">Almost Full</div>
              } @else {
                <div class="badge badge-success text-white font-bold">
                  {{ course.seats }} seats left
                </div>
              }
              <button
                class="btn btn-primary btn-sm"
                [ngClass]="{ 'cursor-not-allowed': course.seats === 0 }"
                [disabled]="course.seats === 0"
                [attr.data-course-seats]="course.seats"
                (click)="buy(course.id)"
                appDisableAfterClick
              >
                {{ course.seats === 0 ? 'Sold Out' : 'Register' }}
              </button>
            </div>
          </div>
        </div>
      }
    } @empty {
      <div class="text-center text-2xl col-span-4">No courses</div>
    }
  </div>
</section>
