<section class="w-[80%] mx-auto relative">
  <div class="w-full flex justify-center my-3 mx-auto relative">
    <select [(ngModel)]="selectedCatId" class="select select-accent absolute top-[-100px]">
      @for (cat of categories; track $index; let f = $first) {
        <option [selected]="f" [value]="cat.id">{{ cat.name }}</option>
      } @empty {
        <option>No categories</option>
      }
    </select>
  </div>

  @if (totalPrice > 0) {
    <div class="flex justify-end mb-6 absolute top-[-130px] right-0">
      <div class="stats shadow bg-primary text-primary-content">
        <div class="stat">
          <div class="stat-title text-primary-content/70 font-bold">Total Order Price</div>
          <div class="stat-value">{{ totalPrice | currency: 'USD' }}</div>
        </div>
      </div>
    </div>
  }

  <app-courses
    [selectedCatId]="selectedCatId"
    (onOrderPriceChange)="updateTotalPrice($event)"
  ></app-courses>
</section>
