<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 pb-20">
  @for (course of filteredCourses; track $index) {
    <div
      class="card bg-base-100 shadow-xl hover:shadow-2xl transition-shadow duration-300"
      [ngClass]="{ 'border-2 border-red-500': course.seats === 0 }"
    >
      <figure class="bg-slate-200 relative overflow-hidden">
        <div
          class="absolute w-full h-full bg-red-500/40 backdrop-blur-xs text-gray-100 text-3xl font-bold text-center rounded flex justify-center items-center z-10"
          [class.hidden]="course.seats !== 0"
        >
          Course Is Complete
        </div>
        <img class="object-cover h-50 w-full" [src]="course.image" alt="{{ course.title }}" />
      </figure>
      <div
        class="card-body"
        [ngClass]="{ 'text-red-500 bg-red-50 rounded-md': course.seats === 0 }"
        [ngClass]="{ 'bg-amber-100': course.seats > 0 && course.seats <= 2 }"
      >
        <a [routerLink]="['/course', course.id]">
          <h4 class="card-title text-inherit hover:text-primary transition-colors cursor-pointer">{{ course.title }}</h4>
        </a>
        <p
          class="text-gray-700 text-sm font-semibold"
          [ngClass]="{ 'text-red-500': course.seats === 0 }"
        >
          {{ course.instructor }}
        </p>
        <div class="flex flex-col justify-between">
          <p class="text-gray-500 text-sm flex justify-between items-center" [class.hidden]="course.seats === 0">
            <span [class]="{ 'line-through': discountPercent > 0 }">
              {{ course.price | currency: 'EGP' }}
            </span>
            <span class="text-xs text-red-500 font-bold">discount by {{ discountPercent }}%</span>
          </p>
          <p class="text-sm" [ngClass]="{ 'text-red-500': course.seats === 0 }">
            {{ course.price | discount: discountPercent | currency: 'EGP' }}
          </p>
        </div>
        <div class="card-actions justify-between items-center">
          @if (course.seats === 0) {
            <div class="badge badge-error bg-red-500 text-white font-bold">Sold Out</div>
          } @else if (course.seats > 0 && course.seats <= 2) {
            <div class="badge badge-warning text-white font-bold">Almost Full</div>
          } @else {
            <div class="badge badge-success text-white font-bold">
              {{ course.seats }} seats left
            </div>
          }
          <button
            class="btn btn-primary btn-sm"
            [ngClass]="{ 'cursor-not-allowed': course.seats === 0 }"
            [disabled]="course.seats === 0"
            [attr.data-course-seats]="course.seats"
            (click)="buy(course.id)"
            appDisableAfterClick
          >
            {{ course.seats === 0 ? 'Sold Out' : 'Register' }}
          </button>
        </div>
      </div>
    </div>
  } @empty {
    <div class="text-center text-2xl col-span-4 py-16 text-base-content/40">No courses found</div>
  }
</div>
